/* foreground light */
.fg-light {
color: white;
}

/* background light  */
.aueb-title-bg {
    background-color: green;
}

.cf-title-bg{
    background-color: blue;
}

.aueb-text-bg {
    background-color: brown;

}