
.container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
} 

.box1{
    width:  200px;
    height: 100px;
    line-height: 100px; /* Vertical center*/ 
    padding:40px;
    text-align: center;
    background-color: beige;
    border: 1px solid black;
    margin-bottom: 20px;
}

.box2 {
    width: 200px;
    height: 100px;
    line-height: 100px;
    padding: 80px;
    text-align: center;
    background-color: beige;
    border: 1px solid black;
    margin-top: 20px;

}